container_commands:
  1_updatecomposer:
    command: "export COMPOSER_HOME=/root && composer.phar self-update"
    ignoreErrors: true
  2_getcomposer:
    command: "export COMPOSER_HOME=/root && composer.phar install --no-dev -o"
  3_setchmod:
    command: "chmod 777 -r storage"
    cwd: "/var/app/ondeck"
    ignoreErrors: true
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_install_nginx_conf.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      cd /var/app/current
      mkdir -p /etc/nginx/conf.d
      cp -f .ebextensions/site.conf /etc/nginx/conf.d/site.conf
      #Make sure that apache is killed
      service httpd stop  
      service nginx restart
      service php-fpm-7.0 restart
  "/opt/elasticbeanstalk/hooks/appdeploy/post/01_monitor_httpd_pid.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      set -xe
      chmod 0755 /var/run/httpd
      /opt/elasticbeanstalk/bin/healthd-track-pidfile --proxy nginx